<form class="box" action="/station/{{station._id}}/add-report" method="POST">
<div class="title is-4">Add Report</div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <input class="input" type="number" placeholder="00" name="code" required>
      </div>
      <div class="field">
        <label class="label">Temperature</label>
        <input class="input" type="number" step="0.1" placeholder="00.0C" name="temp" required>
      </div>
      <div class="field">
        <label class="label">Wind Speed</label>
        <input class="input" type="number" min="0" placeholder="00.00kMh" name="windSpeed" required>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Wind Direction</label>
        <input class="input" type="number" min="0" max="360" placeholder="000deg" name="windDirection" required>
      </div>
      <div class="field">
        <label class="label">Pressure</label>
        <input class="input" type="number" min="800" max="1200" placeholder="000hPa" name="pressure" required>
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit Report</button>
</form>