<form class="box" action="/dashboard/add-station" method="POST">
  <p class="title">Add Station</p>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Name</label>
        <input class="input" type="text" placeholder="Name" name="title" required>
      </div>
      <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="number" placeholder="00.00" name="latitude" step="0.000001" min="-90" max="90"
          required>
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="number" placeholder="00.00" name="longitude" step="0.000001" min="-180" max="180"
          required>
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit Station</button>
</form>