<form class="box" action="/station/{{station._id}}/addreport" method="POST">
<div class="title is-4">Add Report</div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <input class="input" type="number" placeholder="00" name="code" required>
      </div>
      <div class="field">
        <label class="label">Temperature</label>
        <input class="input" type="number" step="0.1" placeholder="00.0C" name="temp" required>
      </div>
      <div class="field">
        <label class="label">Wind Speed</label>
        <input class="input" type="number" min="0" placeholder="00.00kMh" name="windSpeed" required>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="windDirection" required>
              <option value="" disabled selected>Select a direction</option>
              <option value="N">N</option>
              <option value="NNE">NNE</option>
              <option value="NE">NE</option>
              <option value="ENE">ENE</option>
              <option value="E">E</option>
              <option value="ESE">ESE</option>
              <option value="SE">SE</option>
              <option value="SSE">SSE</option>
              <option value="S">S</option>
              <option value="SSW">SSW</option>
              <option value="SW">SW</option>
              <option value="WSW">WSW</option>
              <option value="W">W</option>
              <option value="WNW">WNW</option>
              <option value="NW">NW</option>
              <option value="NNW">NNW</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Pressure</label>
        <input class="input" type="number" min="800" max="1200" placeholder="000hPa" name="pressure" required>
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit Report</button>
</form>