<div class="is-flex">
  <div class="navbar-item">
    <div class="title is-5 has-text-info"><a href="/">WeatherTop</a></div>
  </div>
  <div class="navbar-item">
    <div class="">WeatherTop Services Inc.</div>
  </div>
</div>