<div class="is-flex">
  <div class="navbar-item">
    <div class="title is-5 has-text-info"><a href={{#if titleLink}}{{titleLink}}{{else}}"/"{{/if}}>WeatherTop</a></div>
  </div>
  <div class="navbar-item">
    <div class="">{{#if brandSubtitle}}{{brandSubtitle}}{{else}}WeatherTop Services Inc.{{/if}}</div>
  </div>
</div>