{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    {{title}}
  </h2>
    {{latitude}}
    {{longitude}}
  <a href="/station/{{_id}}" class="button is-small">
  {{>icons/station}}
  </a>
</div>
{{/each}}