{{#each stations}}

<div class="box">
  {{> station-panel}}
  <a href="/station/{{_id}}" class="button is-small is-link" title="Add reports">
    {{>icons/open}}
  </a>
  {{> modal-button}}
</div>
{{/each}}

{{> modal-script}}