<nav class="box navbar mb-6">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="about" class="button" href="/about"> About </a>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button id="profile" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-large">
                  {{>icons/profile}}
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="/edit-profile" class="dropdown-item">Edit Profile</a>
                <a href="/logout" class="dropdown-item">Log Out</a>
                {{!-- <a href="#" class="dropdown-item is-active"> Active dropdown item </a> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");

  // https://stackoverflow.com/questions/46785393/bulma-dropdown-not-working
  const dropdown = document.querySelector('.dropdown');
  dropdown.addEventListener('click', function(event) {
  event.stopPropagation();
  dropdown.classList.toggle('is-active');
});
</script>