<div id="modal-js-example{{@index}}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="subtitle">
        Are you sure you want to delete {{title}} Weather Station?
      </div>
    </section>
    <footer class="modal-card-foot is-centered">
      <a href="/delete-station/{{_id}}" class="button is-danger">Yes</a>
      <button class="button is-link">No</button>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<a class="js-modal-trigger button is-small is-danger" data-target="modal-js-example{{@index}}" title="Delete station">
  {{>icons/delete}}
</a>