{{> menu active="about"}}

<div class="box">
  <div class="columns is-vcentered has-text-centered">
  <div class="column is-half">
    <div class="title">
      {{title}}
    </div>
    <div class="subtitle">
      {{subtitle}}
    </div>
  </div>
  <div class="column is-half">
    <img src="img/OKYJ1L0.jpg">
  </div>
  </div>
</div>