{{> welcome-menu}}

<div class="box has-text-centered has-background-black">
  <div class="title is-3 has-text-white-ter">Welcome to WeatherTop</div>
    <div class="columns is-centered">
    <div class="column is-one-third">
      <figure class="image">
        <img src="img/weather-station-1243730.jpg">
      </figure>
    </div>
  </div>
  <div class="subtitle is-4 has-text-white-ter">Keep track of your weather stations here!</div>
</div>