{{> welcome-menu}}

<div class="box has-text-centered has-background-black">
  <div class="title is-3 has-text-white-ter pb-6">Welcome to WeatherTop</div>
  <div class="subtitle is-4 has-text-white-ter">Keep track of your weather stations here!</div>
</div>