{{> menu}}

<div class="box">
  {{#with station}}
    {{> station-panel}}
</div>
    {{> station-map}}
    {{> map-markers}}
    {{> add-fit-markers}}
  {{/with}}
<div class="box">
  <div class="title is-4">Five-Day Trends</div>
  {{> chart id="temp-chart" name="Temperature" labels=labels values=temps colour="#E74C3C"}}
  {{> chart id="humidity-chart" name="Humidity" labels=labels values=humidities colour="#3498DB"}}
  {{> chart id="wind-chart" name="Wind" labels=labels values=winds colour="#2ECC71"}}
</div>
{{> list-reports}}
{{> add-report}}
{{> generate-report}}